/*
Styles for older IE versions (previous to IE9).
*/
@charset "utf-8";
/* CSS Document */

/**
 * -------------------------------------------------- 
 * IDS
 * --------------------------------------------------
**/
/* ------ header ------ */
/* logo */
#logo {
	/* ie 7*/
	*display: inline;
	*zoom: 1;
	*text-align: left;
}
/* ------    nav    ------ */
/* principal */
#nav-menu-principal {
	/* IE special */
	width:100%;
	
	-ms-text-justify:distribute-all-lines;
	text-justify:distribute-all-lines;
}
	#menu-principal {
		/* ie 7*/
		*display: inline;
		*zoom:1;
		*text-align: right;
	}